* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  font-family: "Oswald", sans-serif;
  grid-template-rows: 20% 1fr;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
}

.header {
  height: 100%;
  width: 100%;
  background-color: #2b2c2d;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 2rem;
}

.header h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

.header input {
  background-color: white;
  width: 50%;
  height: 3rem;
  border-radius: 0.4rem;
  padding-left: 1rem;
  color: black;
  outline: none;
  font-size: 1.2rem;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options {
  background-color: lightgray;
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.options span {
  color: gray;
  font-weight: 400;
  font-size: 1.5rem;
}

.options select {
  border-radius: 0.4rem;
  background-color: #2b2c2d;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
}

.products-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products-container img {
  scale: 0.8;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 1rem;
  }

  .header h1 {
    font-size: 2rem;
  }

  .header input {
    width: 80%;
  }

  .options select {
    display: flex;
    justify-content: center;
  }
}
